<% layout('/layouts/boilerplate') -%>

    <body>
        <div class="row col-6 offset-3 mt-3 d-flex justify-content-center">
            <div class="card">

                <img src="<%= listing.image.url %>" class="card-img-top " alt="..." style="height: 16rem;">
                <!-- <div class="card-img-overlay"> </div> -->

                <div class="card-body">
                    <div class="mb-3">
                        <b>
                            Title: <%= listing.title %>
                        </b><br>
                        <b> Price:</b> &#8377;<%= listing.price.toLocaleString("en-In") %> night
                            </b><br>
                            <b> Description:</b>
                            <%= listing.description %>
                                </b><br>
                                <b> Location:</b>
                                <%= listing.location %>
                                    </b><br>
                                    <b> Country:</b>
                                    <%= listing.country %>
                                        </b><br>
                    </div>

                    <div class="d-grid gap-2 col-12 mx-auto">
                        <a href="/listings/<%= listing._id %>/edit" class="btn edit-btn">Edit</a>

                    </div>
                    <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
                        <div class="d-grid gap-2 col-12 mx-auto">
                            <button class="btn  btn-dark mt-3">Delete</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </body>